<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>News App</title>
  </head>
  <body style="background-color :rgb(199, 241, 241);">

    <div style="border: solid-2px;background-color: black;color: white;position: fixed;width: 100%;">
        <centre>
        <h1>News App</h1>
        </centre>
    </div>
    <div class = "container">
        <br/>
        <br/>
        {% for i in case.articles %}
        <div>
            <br />
            <h4><strong style="color:violet";>Author :</strong>{{i.author}}</h4>
            <h4><strong style="color:violet";>Ttile :</strong>{{i.title}}</h4>
            <h5><strong style="color:violet";>Description :</strong>{{i.description}}</h5>
            <br/>
            <img src = {{i.urlToImage}} width = "100%" height="300" alt= "News App" />

        </div>
        {% endfor %}
    </div>

    <div style="border: solid-2px;background-color: black;color: white;width: 100%;">
        <centre>
        <h4>COPYRIGHT &COPY; 2022 NEWS APP</h4>
        </centre>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>